<% provide(:title, 'Home') %>
<h1 class="welcome" id="welcome-welcome"> Welcome to the</h1>
<h1 class="welcome" id="welcome-communicatron">Communicatron</h1>
<div id="button">
    <%= link_to "Sign up now!!!", signup_path, class:"waves-effect waves-light btn-large "  %>
       
   
</div>
