<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
        <%= image_tag user.avatar.url, size: "90x90", class:"circle" %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>