@import "materialize";

/*universal*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.welcome{
    font-family: GillSans;
}

#welcome-welcome{
    font-size: 5em;
    text-align: center;
}

#welcome-communicatron{
    font-size: 9em;
    text-align: center;
}

#button{
 
    text-align: center;
    
}

/*footer*/
#page-wrapper {
    min-height: 90%;
    margin-bottom: -80px;
    overflow: scroll;
}

* html #page-wrapper {
    height: 70%;
}

h1{
    font-family: 'Roboto';
}

/*errors*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}










